{% set active = 'dashboard_campaign' %}
{% include 'dashboard/header.html' %} 

 <div class="container">
<div class="subhead" id="overview">
  <h1>Campaign</h1>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li class="active"><a href="{{ path('dashboard_campaign_addedit') }}">Add Campaign</a></li>
    </ul>
  </div>
</div>

	<div class="row">
	<div class="span12">
<form action="{{ path('dashboard_campaign_addedit') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

	</div>
	</div>

    </div> 
{% include 'dashboard/footer.html' %}	